<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="N8N_WEBHOOK" class="com.capstone.dfbf.n8n.N8nWebhookAppender">
        <webhookUrl>http://n8n:5678/webhook/82fc8323-3633-44f1-994c-f7b2bb65b1ce</webhookUrl>
        <serviceName>My-Spring-Boot-App</serviceName>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="N8N_WEBHOOK" />
    </root>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=my-spring-app,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>l=%level c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="N8N_WEBHOOK" /> <appender-ref ref="LOKI" /> </root>
</configuration>